COMPOSE_PROJECT_NAME=upmart_api
API_BIND_PORT=8000
DB_BIND_PORT=5432
POSTGRES_DB=upmart
POSTGRES_USER=upmart_user
POSTGRES_PASSWORD=replace_with_output_of_openssl_rand_hex_32
JWT_SECRET_KEY=replace_with_output_of_openssl_rand_hex_64
DEBUG=False
ENVIRONMENT=production
PORT=8000
MAX_IMAGE_SIZE_BYTES=10485760
